body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
}
.site-wrapper-inner {
  display: table-cell;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 20px;
}

.fa {
  padding: 10px;
}

.f6s {
  padding: 10px;
  font-size: 30px;
}

.angel {
  padding-bottom: 20px;
  color: #000;
}

.footer {
  color: silver;
}

.adityaagarwallaicon {
  color: #000;
}

.icon:hover {
  color: #000;
  opacity: .5;
}

.adityaagarwalla-update {
  font-family: Helvetica;
  font-size: 18px;
  padding-bottom: 10px;
}